@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: #d0e4c4;
}
/* Global */
.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* Hero */
.hero{
    background-image: url("../img/hero__bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 105vh;
}
.hero__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 100%;
}
.hero__text{
    grid-column: 1/3;
    width: 70%;
    color: rgb(210, 210, 210);
    font-weight: 500;
}
.hero__text > h1{
    font-size: 11rem;
    line-height: 1;
    color: #AFB849;
}
.hero__text > h2{
    font-size: 2.5rem;
}
.hero__text > h1,
.hero__text > h2{
    text-transform: uppercase;
}
.hero__text_btn{
    padding: .5rem 2rem;
    border-radius: 1rem;
    background-color: #AFB849;
    width: fit-content;
    margin-left: 5rem;
    color: white;
    font-weight: bold;
}

/* Hero Form */
.hero__form{
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	overflow: hidden;
	padding: 2em;
	z-index: 1;
	width: 98%;
    position: relative;
    text-align: center;
}

.hero__form:after{
	background: rgba(255,255,255,0.6);
	content: '';
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
}

.form > input,
.form > select{
    width: 100%;
    padding: .9rem;
    margin: .7rem 0;
    border: 1px solid #c5c3c3;
    border-radius: .5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.form > p{
    font-size: 1.2rem;
    line-height: 1.2;
}

.hero__form_discount{
    font-size: 2rem;
    font-weight: bold;
}
.hero__form_discount > span:nth-child(3){
    font-size: 1.6rem;
    color: #8a8a8a;
}
.hero__form_discount > span:nth-child(2){
    color: red;
}
.btn-5 {
    background: rgb(58, 159, 0);
    color: #fff;
    line-height: 42px;
    padding: 0 2rem;
    border-radius: .5rem;
    border: none;
}
.btn-5:hover {
    background: rgb(65, 177, 0);
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
     cursor: pointer;
}
.btn-5:before,
.btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(58, 159, 0);
    transition:400ms ease all;
}
.btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
}

/* Benefits */
.benefits{
    margin-top: -3.5% !important;
    background: white;
    border-radius: 2rem;
    padding: .5rem 3rem;
    max-width: 110rem;
    margin: 0 auto;
}
.benefits__content{
    display: grid;
    grid-template-columns: 19% 27% 27% 27%;
    font-size: 1.3rem;
    font-weight: 500;
    column-gap: 2rem;
    max-width: 100%;
    line-height: 1.4;
}
.benefits__content > p{
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
}
.benefits__content__wimg{
    display: flex;
    align-items: center;
}
.benefits__content__wimg_img{
}
.benefits__content__wimg_img > img{
}
.benefits__content__wimg_text > p{
    padding: 0;
    margin: 0;
}

/* Info */
.info{
   margin-top: 7rem;
   position: relative;
   padding-bottom: 7rem;
}
.info__bg_image{
    position: absolute;
    bottom: 0;
}
.info > h2{
    text-align: center;
}
.info__content{
    display: flex;
    column-gap: 5rem;
    margin-top: 4rem;
    font-weight: 500;
}
.info__steps{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    color: #979f3e;
    font-size: 1.4rem;
}
.info__steps_step_top{
    text-align: center;
}
.info__steps span{
    color: #AFB849;
    font-weight: bold;
}
.info__content__text_images{
    position: relative;
}
.info__content__text_images > img{
    position: absolute;
}
.info__content__text_images > img:nth-child(1){
    transform: rotate(-15deg);
    left: 15%;
}
.info__content__text_images > img:nth-child(2){
    left: 35%;
}
.info__content__text_images > img:nth-child(3){
    transform: rotate(15deg);
    left: 55%;
    z-index: -1;
}

/* Functions */
.functions{
    margin-top: 10rem;
    background-color: #979f3e;
    padding: 5rem 0;
    position: relative;
}
.function__bg{
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.sheets img:nth-child(1){
    position: absolute;
    top: 80%; 
    left: 85%;
    transform: translate(-50%, -50%);
}

.sheets img:nth-child(2){
    position: absolute;
    top: 50%; 
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.functions__content > h2{
    text-align: center;
    color: white;
}
.functions__content__blocks{
    padding-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 4rem;
}
.functions__content__block{
    background-color: white;
    border-radius: 3rem;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2.5rem 3rem 2rem 3rem;
    font-weight: 500;
    line-height: 1.6;
    font-size: 1.4rem;
    position: relative;
    z-index: 3;
}
.functions__content__block > span:nth-child(1){
    position: absolute;
    top: -1rem;
    background-color: #979f3e;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border: 1px solid #adb747;
    color: white;
    font-weight: bold;
}
.functions__content__block::after{
    content: '';
    height: 20px;
    display: block;
    position: absolute;
    
    width: calc(100% - 18px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 5px solid transparent;
    background-color: rgba(255, 255, 255, 0.6);
    left: 9px;
    bottom: -10px;
}
.functions__content__block > span:nth-child(2){
    font-weight: bold;
}

/* Composition */
.composition{
    padding: 7rem 0;
    background-color: rgb(236, 236, 236);
}
.composition__content > h2{
    text-align: center;
}
.composition__blocks{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;
}
.composition__block_img{
    width: 100%;
    margin: 0 auto;
}
.composition__block_img > img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}
.composition__block_img > span{
    display: block;
    font-weight: bold;
}
.composition__block > p{
    font-weight: 500;
    line-height: 1.8;
}

/* Reviews */
.reviews {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/reviews__bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main__review > h2{
    width: min(95%, 60rem);
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    color: white;
  }
  .reviews__content {
    padding: 5rem 0;
  }
  
  .main__review {
    width: 90%;
    margin: 0 auto;
  }
  .slider-nav{
    display: flex;
    gap: 2rem;
  }
  .reviews__card {
    background-color: white;
    padding: 2rem 3rem 2rem 1rem;
    max-width: 50rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    
  }
  
  .reviews__card_top,
  .reviews__card_top_info {
    display: flex;
  }
  
  .reviews__card_top {
    justify-content: space-between;
  }
  
  .reviews__card_top>img {
    margin: 3rem 2rem 0 0;
    width: 6rem;
    height: 6.2rem;
  }
  
  .reviews__card_top_info img {
    max-width: 8rem;
    height: auto;
    border-radius: 2rem;
  }
  
  .reviews__card_info {
    padding: 2rem 0 0 1rem;
  }
  
  .reviews__card_info h4 {
    font-size: 2rem;
    color: var(--primary);
    font-weight: 500;
  }
  
  .reviews__card_info>span {
    font-size: 1.5rem;
    color: #CCCCCC;
    font-weight: 500;
  }
  
  .reviews__card p {
    font-size: 1.5rem;
    color: #666666;
    font-weight: 300;
    padding-left: 3rem;
  }
  .swiper-button-next_text:active,
  .hero__btn_slider_next:active,
  .hero__btn_slider_prev:active,
  .swiper-button-prev_text:active{
    transform: scale(1.02);
  }
  .slick-dots,
  .slick-next,
  .slick-prev {
    position: absolute;
    display: block;
    padding: 0;
  }
  
  .slick-dots li button:before,
  .slick-next:before,
  .slick-prev:before {
    font-family: slick;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
  
  .slick-next,
  .slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px\9;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0
  }
  
  .slick-next:focus,
  .slick-next:hover,
  .slick-next {
    right: auto;
    left: -25px
  }
  
  [dir=rtl] .slick-next:before {
    content: 'â†'
  }
  
  .slick-slider {
    margin-bottom: 30px
  }
  
  .slick-dots {
    bottom: -20px;
    left: -25%;
    width: 100%;
    list-style: none;
    text-align: center
  }
  
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer
  }
  
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
  }
  
  .slick-dots li button:focus,
  .slick-dots li button:hover {
    outline: 0
  }
  
  .slick-dots li button:focus:before,
  .slick-dots li button:hover:before {
    opacity: 1
  }
  
  .slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    text-align: center;
    opacity: .25;
    color: #000
  }
  
  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
  }
  
  .slick-list,
  .slick-slider,
  .slick-track {
    position: relative;
    display: block
  }
  
  .slick-loading .slick-slide,
  .slick-loading .slick-track {
    visibility: hidden
  }
  
  .slick-slider {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
  }
  
  .slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
  }
  
  .slick-list:focus {
    outline: 0
  }
  
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand
  }
  
  .slick-slider .slick-list,
  .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  
  .slick-track {
    top: 0;
    left: 0
  }
  
  .slick-track:after,
  .slick-track:before {
    display: table;
    content: ''
  }
  
  .slick-track:after {
    clear: both
  }
  
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
  }
  
  [dir=rtl] .slick-slide {
    float: right
  }
  
  .slick-slide img {
    display: block
  }
  
  .slick-slide.slick-loading img {
    display: none
  }
  
  .slick-slide.dragging img {
    pointer-events: none
  }
  
  .slick-initialized .slick-slide {
    display: block
  }
  
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
  }
  
  .slick-arrow.slick-hidden {
    display: none
  }
  
  /* Steps */
.steps__content > h2{
    padding-top: 7rem;
    text-align: center;
    
}
.steps__content_blocks{
    margin-top: 5rem;
    background-color: white;
    width: min(98%, 50rem);
    border-radius: 2rem;
    list-style: none;
    padding: 3rem 4rem;
    margin-left: auto;
    margin-right: auto;
}
.steps__content_blocks > li{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: start;
    line-height: 1.4;
    margin: 3rem 0;
}
.steps__content_blocks img{
    max-width: 3rem;
}
.steps__content_text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.steps__content_text > img{
    margin: 0 auto;
}
.steps__content_images{
    position: relative;
    padding-top: 5rem;
}
.steps__content_images > img:nth-child(2){
    position: absolute;
    left: 50%;
    transform: rotate(15deg);
}
.steps__content_images > img:nth-child(1){
    margin-left: 14rem;
    transform: rotate(-15deg);
}

/* Timeline */
.timeline{
    position: relative;
}
.timeline > h2{
    width: min(95%, 60rem);
    margin: 5rem auto 5rem auto;
    text-align: center;
    color: #1E1E1E;
    
}
.timeline__images > img:nth-child(1){
    position: absolute;
    top: 15%;
    left: 0;
    transform: rotate(5deg);
    z-index: -1;
}
.timeline__images > img:nth-child(2){
    position: absolute;
    top: 15%;
    right: 0;
    z-index: -1;
}
.timeline__images > img:nth-child(3){
    position: absolute;
    top: 60%;
    right: 0;
    z-index: -1;
}
.timeline__images > img:nth-child(4){
    position: absolute;
    top: 75%;
    left: 10%;
    z-index: -1;
}
.timeline div {
    width: 300px;
    margin: auto;
  }
  
  .timeline p {
  
    border-top: 2px dashed;
    border-color: #979f3e !important;
    margin:0; padding: 30px;
  }
  .timeline__text span{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  
  .timeline p:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px; 
    padding-right: 0;
  }
  
  .timeline p:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px; 
    padding-left: 0;
  }
  
  .timeline p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }
  
  .timeline p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }

/* Form footer */
.form_footer{
    margin-top: 7rem;
    background-color: #f1f1f1;
    padding-bottom: 7rem;
}
.form_footer__content_top{
    text-align: center;
    width: min(95%, 70rem);
    margin: 0 auto;
    padding: 7rem 0 5rem 0;
}
.text_f ul li{
    color: black;
    font-weight: 500;
}
/* Footer */
.footer{
    background-color: white;
    padding: 2rem;
    text-align: center;
}
.footer > p{
    padding: 0;
    margin: 0;
}

@media (max-width: 1150px) {
  .info__content__text > p{
    width: 60%;
  }
  .info__content__text_images {
    top: 5%;
  }
  .info__content__text_images > img:nth-child(1){
    position: relative;
    left: 7%;
  }
  .info__content__text_images > img:nth-child(2){
    left: 22%;
  }
  .info__content__text_images > img:nth-child(3){
    left: 34%;
  }
  .info__content > img{
    position: absolute;
    width: 35%;
    top: 10%;
    right: 0;
    z-index: -1;
  }
}

@media (max-width: 944px) {
  .hero{
    height: 100%;
  }
  .hero__content{
    grid-template-columns: 1fr;
    padding: 7rem 0;
  }
  .hero__form{
    max-width: 60rem;
    margin: 5rem auto 5rem auto;
  }
  .benefits{
    width: fit-content;
    padding: 4rem 3rem;
  }
  .benefits__content{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .benefits__content__wimg{
    display: block;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  
  .steps__content_images{
    display: none;
  }
  .functions__content__blocks,
  .composition__blocks{
    display: grid;
    grid-template-columns: 1fr;
  }
  .slick-slide{
    text-align: center;
  }
  .steps__content_text{
    grid-template-columns: 1fr;
  }
  .info__content__text_images{
    width: min(50%, 40rem);
    margin: 0 auto;
  }
  .form_footer__content > .hero__content {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .hero__text{
    width: 90%;
  }
  .info__content > img{
    display: none;
  }
  .info__content__text > p{
    width: 95%;
    margin: 0 auto;
  }
  h2{
    font-size: 3rem;
  }
  .hero__text > h1{
    font-size: 7rem;
  }
  .hero__text > h2{
    font-size: 1.6rem;
    padding-top: 1rem;
  }
  .hero__text > ul > li{
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .hero__text_btn{
    width: 100%;
    margin: 0 auto;
  }
  .sheets,
  .timeline__images > img:nth-child(1){
    display: none;
  }
  .reviews__card_info{
    text-align: start;
  }
  .reviews__card_info > h4{
    font-size: 1.4rem;
  }
  .reviews__card_info > span{
    font-size: 1.2rem;
  }
  .reviews__card_top>img {
    width: 3rem;
    height: 3rem;
    margin-right: 0;
}
.reviews__card_top_info img {
  margin-top: 1.8rem;
  width: 7rem;
}
}
@media (max-width: 550px) {
  .info__content__text_images > img:nth-child(1){
    left: -20%;
  }
  .info__content__text_images > img:nth-child(2){
    left: 0;
  }
  .info__content__text_images > img:nth-child(3){
    left: 20%;
  }
}